*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.button{
    background: #f4f4f4;
    border: #ccc solid 2px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 100px;
}