div{
    color: tomato;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 6px;
    background-image: url("./ifcjs_logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 15px;
}

.first{
    font-size: 1rem;
    font-family: "Roboto", Helvetica, sans-serif;
}

.second{
    font-size: 0.5rem;
}

.third{
    font-size: 50%;
}

